.card {
    display: block;

    img {
        max-width: 50%;
        margin: 0 auto;
        display: block;
    }

    figure {
        figcaption {
            text-align: center;
            font-style: italic;
        }

        margin: 0 auto 0.5lh;
    }

    h2 {
        font-family: "Amazon Ember Display", Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 2rem;
        line-height: 2.8rem;
        padding-bottom: 0.3lh;
        letter-spacing: -0.028rem;
    }

    h3 {
        font-family: "Amazon Ember", Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.8rem;
        margin-bottom: 0.5em;
        letter-spacing: -0.023rem;
    }
}

.dateAndShare {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75em;
    p {
        margin-bottom: 0;
    }
}

.share a {
    margin-inline-start: 1em;
}

.sources, .tags {
    list-style-type: none;

    li {
        display: inline;
        margin-inline-end: 0.5ex;
    }
}
